.review_params
  = simple_form_for(@date_range, :url => '', :method => :get) do |f|
    = f.input :from, :collection => @date_range.list, :label => false
    .input &mdash;
    = f.input :to, :collection => @date_range.list, :label => false
    .input= select_tag "currency", options_for_select(@currencies, params[:currency] || Money.default_currency)
    .input= f.submit "Review"
