- @date_range = DateRange.new(params[:date_range] || {})
#totals
  .date_range
    %h4 #{@date_range.from} &mdash; #{@date_range.to}
    - sales_report = Indie::SalesReport.new(@sales, @date_range)
    %ul.royalties
      - sales_report.money.each do |money|
        %li.number
          .currency= money.currency.symbol
          .amount= money.format(:no_cents_if_whole => true, :thousands_separator => " ", :symbol => false)
    .units
      royalties by
      .number= sales_report.units
      units
  .whole_period
    %h4 For The Whole Period
    - sales_report = Indie::SalesReport.new(@sales)
    %ul.royalties
      - sales_report.money.each do |money|
        %li.number
          .currency= money.currency.symbol
          .amount= money.format(:no_cents_if_whole => true, :thousands_separator => " ", :symbol => false)
    .units
      royalties by
      .number= sales_report.units
      units
= simple_form_for(@date_range, :url => '', :method => :get) do |f|
  %h4 Review Period
  = f.input :from, :collection => @date_range.list, :label => false
  .input &mdash;
  = f.input :to, :collection => @date_range.list, :label => false
  .input= f.submit "Set Period"
