- content_for :stuff do
  %a{href: "#upload", rel: "facebox", class: "upload"}

= render :partial => 'uploads/form'

- if @books.blank?
  = render :partial => 'blank'
- else
  - vendors = Vendor.all
  .books
    - @books.each do |book|
      .book{ title: %Q{#{book.title}} }
        .info
          .title
            %h1= book.title
        - report = Indie::Report.create(book)
        .months
          %h2 Last Six Month
          .barchart
            = barchart(150, report.months)
          .month.last_six
            %h2 Last Six Months
            .vendors
              - report.vendors.each do |vendor|
                .vendor
                  = "#{vendor.name}: #{vendor.last_n_units} (#{vendor.last_n_money.format})"
            .total
              total: #{report.total_last_n_units} (#{report.total_last_n_money.format})
          - report.months.each do |month|
            .month{ title: "#{month.title}", :class => "#{month.name}", style: "display: none;" }
              %h2= month.name
              .vendors
                - month.vendors.each do |vendor|
                  .vendor
                    #{vendor.name}: #{vendor.units} 
              .total
                total: #{month.units}
        .totals
          %h2 The Entire Period
          .vendors
            - report.vendors.each do |vendor|
              .vendor
                = "#{vendor.name}: #{vendor.units} (#{vendor.money.format})"
          .total
            total: #{report.total_units} (#{report.total_money.format})
