Home page

Upload report:
= simple_form_for Upload.new do |f|
  = f.input :report
  = f.button :submit

- if @books.blank?
  .introduction You didn't upload any report yet
- else
  - vendors = Vendor.all
  .books
    - @books.each do |book|
      .book{ title: %Q{#{book.title}} }
        .title
          = book.title
        .total
          total: #{book.sales.sum(:units)}
        .vendors
          - vendors.each do |vendor|
            .vendor
              = "#{vendor.name}: #{book.sales.for_vendor(vendor.name).sum(:units)}"
        - report = Indie::Report.create(book)
        .months
          - report.months.each do |month|
            .month{ title: "#{month.title}" }
              #{month.name}: #{month.units} 
              .vendors
                - month.vendors.each do |vendor|
                  .vendor
                    #{vendor.name}: #{vendor.units} 
