Home page

Upload report:
= simple_form_for Upload.new do |f|
  = f.input :report
  = f.button :submit

- if @books.blank?
  .introduction You didn't upload any report yet
- else
  .books
    - @books.each do |book|
      .book{ title: %Q{#{book.title}} }
        .title
          = book.title
        .total
          total: #{book.sales.sum(:units)}
        .vendor
          Barnes&Noble: #{book.sales.for_vendor('Barnes&Noble').sum(:units)}
        - report = Indie::Report.create(book)
        .months
          - report.months.each do |month|
            .month{ title: "#{month.title}" }
              #{month.name}: #{month.units} 
