Home page

Upload report:
= simple_form_for Upload.new do |f|
  = f.input :report
  = f.button :submit

- if @books.blank?
  .introduction You didn't upload any report yet
- else
  .books
    - @books.each do |book|
      .book{ title: %Q{#{book.title}} }
        .months
          - (0..5).collect {|m| { :month => m.month.ago.strftime('%b'), :year => m.month.ago.strftime('%Y') } }.reverse.each do |date|
            %div{ class: "month #{date[:month].downcase}_#{date[:year]}", title: "#{date[:month]} #{date[:year]}" }
              = date[:month]
        .title
          = book.title
        .total
          total: #{book.sales.sum(:units)}
        .vendor
          Barnes&Noble: #{book.sales.for_vendor('Barnes&Noble').sum(:units)}
