.intro
  .header
    We make the life of authors easier.
    %br
    We deliver software that makes it possible for authors
    %br 
    to focus on what they do best.
    %b Write. 
  .header2
    Get valuable insights by viewing your sales reports from different angles.
  .gallery
    - %w(upload dashboard vendors books).each do |img|
      .thumbnail
        %a{href: "/assets/gallery/#{img}.png", rel: "facebox"}
          = image_tag("gallery/#{img}-small.png")
  .video
    %iframe(width="560" height="315" src="http://www.youtube.com/embed/V1uW-2wnGoE" frameborder="0" allowfullscreen)
  .header
    - if user_signed_in?
      .sign_up= link_to('Go to Dashboard', home_path)
    - else
      .sign_up= link_to('Sign up', new_user_registration_path)

