.intro
  You make your self-published book available through multiple channels,
  %br
  and we'll aggregate your sales figures so you can track your progress.
.gallery
  - %w(upload dashboard vendors books).each do |img|
    %a.video{href: "/assets/gallery/#{img}.png", rel: "facebox"}
      = image_tag("gallery/#{img}-small.png")
.gallery
  %a.video{href: "#video", rel: "facebox"}
    = image_tag("gallery/video.png")
#video
  #player
.action
  - if user_signed_in?
    .sign_up= link_to('Go to Dashboard', user_root_path)
  - else
    .sign_up
      = link_to('Sign up!', new_user_registration_path)
      %p Free during beta period!
