.line
  .column{ style: "height: #{record[:spacer]}px;" }
  .column.value= record[:value] 
  .column.blue{ style: "height: 1px;" }
  .column.data{ class: "#{record[:label]}", style: "height: #{record[:height]}px;" }
  .column.blue{ style: "height: 1px;" }
  .column.label= record[:label]
