= render :partial => 'uploads/form'

- if @books.blank?
  = render :partial => 'shared/blank'
- else
  #books
    - @books.each do |book|
      .book{ title: %Q{#{book.title}}, id: "book_#{book.id}" }
        .title= link_to book.title, book
