= render :partial => 'uploads/form'

- if @book.nil?
  = render :partial => 'shared/blank'
- else
  #book
    %h1= @book.title
    = render :partial => 'shared/date_range'
    .charts
      %h2 Royalties
      #royalties_chart{ style: "width:650px; height:240px" }
    .charts
      .table
        %table.royalties
          %thead
            %tr
              %th{colspan: 3} Royalties
          %tbody
            %tr
              %th Month
              %th Money
              %th Units
            - @money_report.data.each do |row|
              %tr
                %td= row[:date].to_s(:month_and_year)
                %td= row[:money].format
                %td= row[:units]
      .chart
        #vendor_share_chart{ style: "width:330px;height:260px;" }
        :javascript
          $(document).ready(function() {
            google.setOnLoadCallback(drawVisualization);

            function drawVisualization() {
              #{linear_chart(@chart_data, { render_to: 'royalties_chart', chartArea: {left: 30, top: 0, width: 650, height: 170}, :legend => 'none'})}
              #{pie_chart(@pie_chart_data, :render_to => 'vendor_share_chart')}
            };
          });
