!!! 5
%html
  %head
    %title Indie 
    %link{ href: 'http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel: 'stylesheet', type: 'text/css' }
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = csrf_meta_tags
    %script{ src: 'http://twitter.github.com/bootstrap/1.3.0/bootstrap-alerts.js'}
  %body{ id: "#{controller_css_scope_name}", class: "application common" }
    #container
      #header
        #logo
          = image_tag('logo.gif')
        #stuff
          = yield :stuff
          &nbsp;
        #account_links
          - if user_signed_in?
            %span.user_name= current_user.name
            %span.separator /
            = link_to('Edit profile', edit_user_registration_path)
            %span.sign_out= link_to('Sign out', destroy_user_session_path)
      #sidebar
        &nbsp;
      #content
        #box
          - flash.each do |name, msg|
            :javascript
              $(function () {
                $.notifyBar({
                  cls: ("#{name}" == 'notice' ? 'success' : 'error'),
                  html: "#{msg}",
                  delay: 2000,
                  animationSpeed: "normal"
                });
              });
          = yield
      #footer
        © Pragmatic Author, 2011
