!!! 5
%html
  %head
    %title Pragmatic Author
    %link{ href: 'http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel: 'stylesheet', type: 'text/css' }
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = javascript_include_tag "http://www.google.com/jsapi"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28034561-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    :javascript
      google.load('visualization', '1', {packages: ['corechart']});
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = csrf_meta_tags
  %body{ id: "#{controller_css_scope_name}", class: "application common" }
    #container
      #header
        #logo
          = image_tag('logo.gif')
        #stuff
          = yield :stuff
          &nbsp;
        #account_links
          - if user_signed_in?
            %span.user_name= current_user.name
            %span.separator /
            = link_to('Edit profile', edit_user_registration_path)
            %span.sign_out= link_to('Sign out', destroy_user_session_path)
      #sidebar
        #menu
          = render_navigation(:context => :app)
      #content
        - flash.each do |name, msg|
          :javascript
            $(function () {
              $.notifyBar({
                cls: ("#{name}" == 'notice' ? 'success' : 'error'),
                html: "#{msg}",
                delay: 2000,
                animationSpeed: "normal"
              });
            });
        = yield
      #footer
        PragAuthor &copy; 2011&ndash;2012 Objectsoft bvba 
      :javascript
        var uvOptions = {};
            $(function() {
                var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
                uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/VtYepqixGVlQJWiL9vVbg.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
              });
