!!! 5
%html
  %head
    %title Pragmatic Author
    %link{ href: 'http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel: 'stylesheet', type: 'text/css' }
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = csrf_meta_tags
  %body#devise.common
    #container
      #header
        #logo
          = image_tag('logo.gif')
      #content
        #box
          - flash.each do |name, msg|
            :javascript
              $(function () {
                $.notifyBar({
                  cls: ("#{name}" == 'notice' ? 'success' : 'error'),
                  html: "#{msg}",
                  delay: 2000,
                  animationSpeed: "normal"
                });
              });
          = yield
      #footer
        © Pragmatic Author, 2011
