!!! 5
%html
  %head
    %title Pragmatic Author
    = stylesheet_link_tag    "welcome"
    = javascript_include_tag "welcome"
    = csrf_meta_tags
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28034561-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body#welcome.common
    #container
      #header
        #logo
          = image_tag('logo.gif')
        #navigation
          = render_navigation(:context => :public)
        #links
          - if user_signed_in?
            = link_to('Sign out', destroy_user_session_path)
          - else
            = link_to('Sign in', new_user_session_path)
      #content
        .box
          = yield
        - flash.each do |name, msg|
          :javascript
            $(function () {
              $.notifyBar({
                cls: ("#{name}" == 'notice' ? 'success' : 'error'),
                html: "#{msg}",
                delay: 2000,
                animationSpeed: "normal"
              });
            });
      #footer
        %p PragAuthor &copy; 2011&ndash;2012 Objectsoft bvba 
    :javascript
      var uvOptions = {};
          $(function() {
            var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
            uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/VtYepqixGVlQJWiL9vVbg.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
          });
