!!! 5
%html
  %head
    %title Indie
    = stylesheet_link_tag    "wellcome"
    = javascript_include_tag "wellcome"
    = csrf_meta_tags
  %body
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)

    - if user_signed_in?
      = link_to('Sign out', destroy_user_session_path)
    - else
      = link_to('Sign in', new_user_session_path)
      = link_to('Sign up', new_user_registration_path)
    = yield
    
