!!! 5
%html
  %head
    %title Indie
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body#welcome.common
    #container
      #header
        #logo
          = image_tag('logo.gif')
        #links
          - if user_signed_in?
            = link_to('Sign out', destroy_user_session_path)
          - else
            = link_to('Sign in', new_user_session_path)
      #content
        = yield
