!!! 5
%html
  %head
    %title Pragmatic Author
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body#welcome.common
    #container
      #header
        #logo
          = image_tag('logo.gif')
        #links
          - if user_signed_in?
            = link_to('Sign out', destroy_user_session_path)
          - else
            = link_to('Sign in', new_user_session_path)
      #content
        = yield
        - flash.each do |name, msg|
          :javascript
            $(function () {
              $.notifyBar({
                cls: ("#{name}" == 'notice' ? 'success' : 'error'),
                html: "#{msg}",
                delay: 2000,
                animationSpeed: "normal"
              });
            });
